@model RoutesCollectionViewModel


<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.Rides.First().Name"></label>
            </th>
            <th>
                <label>Date</label>
            </th>
            <th>
                <label>Route</label>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Rides)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Date.ToString("dd MMM yyyy")
                </td>
                <td>
                    @item.RouteName
                </td>
                <td>
                    <a a class="btn btn-outline-info grey-button" asp-action="Details" asp-controller="Event" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>