@model IEnumerable<EventViewModel>

@{
    ViewData["Title"]= "Index";
}

<h1>Events</h1>
<p>
    @*<a asp-action= "Create">Create New Event</a>*@
     <a class="btn btn-success" asp-action="Create">Create New Event</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().Name"></label>
            </th>
            <th>
                <label>Start event</label>
            </th>
            <th>
                <label>Route</label>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.RouteName
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">...</a>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script> 
       $(document).ready( function () {
    $('#myTable').DataTable();
} );
   </script>
}