@model IEnumerable<EventDto>

@{
    ViewData["Title"] = "Index";
    var showEditButtons = ViewBag.ShowEditButtons ?? false;
    var showOwnerName = ViewBag.ShowOwnerName ?? true;
    var showPrivacySettings = false;
}
<partial name="_Partials/_Header" model="@Model" />
<div class="container">
    <h1>Events</h1>
    <p>
        <div class="button" id="button-animation">
            <div id="translate"></div>
            <a class="submit-button" asp-area="" asp-controller="Event" asp-action="Create">New Event</a>
        </div>
    </p>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    <label asp-for="@Model.First().Name"></label>
                </th>
                @if(showPrivacySettings)
                {
                 <th>
                    <label>Private/Public</label>
                </th>
                }
                @if (showOwnerName)
                {
                  <th>
                    <label>Created by</label>
                </th>
                }
                <th>
                    <label>Event date</label>
                </th>
                <th>
                    <label>Route</label>
                </th>
                <th>
                    <label>From</label>
                </th>
                <th>
                    <label>To</label>
                </th>
                <th>
                    <label>Status</label>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    @if(showPrivacySettings)
                    {
                        <td style="text-align:center;">
                            @if (item.IsPrivate)
                            {
                                <i class="fa-solid fa-lock"></i>
                            }
                            else
                            {
                               <i class="fa-solid fa-lock-open"></i> 
                            } 
                        </td>
                    }
                    @if (showOwnerName)
                    {
                      <td>
                        @item.ApplicationUser.UserName
                    </td>
                    }
                    <td>
                        @item.Date.ToString("dd MMM yyyy")
                    </td>
                    <td>
                        @item.RouteName
                    </td>
                    <td>
                        @item.Route.StartingCity
                    </td>
                    <td>
                        @item.Route.DestinationCity
                    </td>
                    <td>
                        @item.StatusRide
                    </td>
                    <td>
                        <a class="btn btn-outline-info grey-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (showEditButtons)
                        {
                            <a class="btn btn-outline-primary grey-button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-outline-danger grey-button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section scripts {
    <script>

               $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
    }
</div>