@model IEnumerable<RouteDto>
@{

    var showEditButtons = ViewBag.ShowEditButtons ?? false;
    var showPrivacySettings = ViewBag.ShowPrivacySettings ?? false;


}



<table id="indexTable" class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().Name"></label>
            </th>
            @if (showPrivacySettings)
            {
                <th>
                    <label>Private/Public</label>
                </th>
            }
            <th>
                <label>From </label>
            </th>
            <th>
                <label>To </label>
            </th>
            <th>
                <label asp-for="@Model.First().AverageScore">Rating</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                @if (showPrivacySettings)
                {
                    <td style="text-align:center;">
                    @if (item.IsPrivate)
                    {
                        <i class="fa-solid fa-lock"></i>
                    }
                    else
                    {
                       <i class="fa-solid fa-lock-open"></i> 
                    } 
                    </td>
                }
                <td>
                    @item.StartingCity
                </td>
                <td>
                    @item.DestinationCity
                </td>
                <td>
                    <div class="table-hidden-value">@item.AverageScore</div>
                    <a asp-action="Reviews" asp-route-id=@item.Id>
                        <div class="route-collection-rating" id="route-rating-@item.Id">
                            <input type="hidden" asp-for="@item.AverageScore" id="rating-value-@item.Id" />
                        </div>
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-info grey-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (showEditButtons)
                    {
                        <a class="btn btn-outline-primary grey-button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-danger grey-button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>

