@model PlanAndRide.Web.Models.RouteViewModel

@{
    var privacyDisplay = "[Private]";
    if (!Model.IsPrivate)
    {
        privacyDisplay = "[Public]";
    }
}

<h6>@privacyDisplay</h6>

<dl class="row">
    <dt class="col-sm-3">
        <label>From: </label>
    </dt>
    <dd class="col-sm-9">
        <textarea  id="StartingLocation" class="locationDescription" readonly></textarea>
        <input type="hidden" id="StartingLatitude" value="@Model.StartingPosition.Latitude"/>
        <input type="hidden" id="StartingLongitude" value="@Model.StartingPosition.Longitude"/>
        <input type="hidden" id="EncodedPath" value="@Model.EncodedGoogleMapsPath"/>
        
    </dd>
    <dt class="col-sm-3">
        <label asp-for="DestinationPosition">To: </label>
    </dt>
    <dd class="col-sm-9">
        <textarea id="DestinationLocation" class="locationDescription" readonly></textarea>
        <input type="hidden" id="DestinationLatitude" value="@Model.DestinationPosition.Latitude"/>
        <input type="hidden" id="DestinationLongitude" value="@Model.DestinationPosition.Longitude"/>
    </dd>
    <dt class="col-sm-3">
        <label asp-for="Description">Description: </label>
    </dt>
    <dd class="col-sm-9">
        @Model.Description
    </dd>
    <dt class="col-sm-3">
        <label asp-for="AverageScore">Score: </label>
    </dt>
    <dd class="col-sm-9">
        @Model.AverageScore
    </dd>
    <a asp-action="Reviews" asp-route-id="@Model.Id">Reviews</a>
</dl>

