@model RouteDto

@{
    var privacyDisplay = "[Private]";
    if (!Model.IsPrivate)
    {
        privacyDisplay = "[Public]";
    }
}
<h6>@privacyDisplay</h6>
<div class="row">
    <div class="route-details-section">
        <label>From: </label>
        <textarea class="form-control locationDescription" id="StartingLocation" readonly></textarea>
        <input type="hidden" id="StartingLatitude" value="@Model.StartingPosition.Latitude" />
        <input type="hidden" id="StartingLongitude" value="@Model.StartingPosition.Longitude" />
        <input type="hidden" id="EncodedPath" value="@Model.EncodedGoogleMapsPath" />
    </div>
    <div class="route-details-section">
        <label>To: </label>
        <textarea class="form-control locationDescription" id="DestinationLocation" readonly></textarea>
        <input type="hidden" id="DestinationLatitude" value="@Model.DestinationPosition.Latitude" />
        <input type="hidden" id="DestinationLongitude" value="@Model.DestinationPosition.Longitude" />
    </div>
    @{
        if (!String.IsNullOrEmpty(Model.Description) && !String.IsNullOrEmpty(Model.Description))
        {
            <div class="route-details-section">
                <label>Description: </label>
                <textarea class="form-control locationDescription" id="DestinationLocation" readonly>@Model.Description</textarea>
            </div>
        }
    }

</div>

