@model PlanAndRide.Web.Models.RoutesCollectionViewModel


<table id="indexTable" class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.Routes.First().Name"></label>
            </th>
            <th>
                <label>From </label>
            </th>
            <th>
                <label>To </label>
            </th>
            <th>
                <label asp-for="@Model.Routes.First().AverageScore">Score</label>
            </th>
            <th>
                <label asp-for="@Model.Routes.First().Description"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Routes)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.StartingCity
                </td>
                <td>
                    @item.DestinationCity
                </td>
                <td>
                    @Math.Round(item.AverageScore,1)
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">...</a>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

