@model IEnumerable<RouteDto>


<table id="indexTable" class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().Name"></label>
            </th>
            <th>
                <label>From </label>
            </th>
            <th>
                <label>To </label>
            </th>
            <th>
                <label asp-for="@Model.First().AverageScore">Score</label>
            </th>
            <th>
                <label asp-for="@Model.First().Description"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.StartingCity
                </td>
                <td>
                    @item.DestinationCity
                </td>
                <td>
                    <a asp-action="Reviews" asp-route-id=@item.Id>@item.AverageScore</a>
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a class="btn btn-outline-info grey-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-outline-primary grey-button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-danger grey-button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

