@model RouteViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="col-lg-6 gx-5" style="float:left">
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            <label asp-for="Name"></label>
        </dt>
        <dd class = "col-sm-6">
            @Model.Name
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="StartingPosition"></label>
        </dt>
        <dd class = "col-sm-6">
            @Model.StartingPosition
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="DestinationPosition"></label>
        </dt>
        <dd class = "col-sm-6">
            @Model.DestinationPosition
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="AverageScore"></label>
        </dt>
        <dd class = "col-sm-6">
            @Model.AverageScore
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="Description"></label>
        </dt>
        <dd class = "col-sm-6">
            @Model.Description
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="ShareRoute"></label>
        </dt>
        <dd class = "col-sm-6">
            @Model.ShareRoute
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="IsPrivate"></label>
        </dt>
        <dd class = "col-sm-6">
            @Model.IsPrivate
        </dd>
    </dl>
</div>
<div class="col-lg-6 gx-5" style="float:left">
    <partial name="_Partials/_Map" model="@Model" />
</div>
<div style="clear:both">
    <a asp-action="Edit" asp-route-id=@Model.Id>Edit</a> |
    <a asp-action="Index">Back to Routes</a>
</div>
