@model IEnumerable<PlanAndRide.BusinessLogic.Route>

@{
    ViewData["Title"] = "Index";
}

<h1>Routes</h1>

<p>
    <a asp-action="Create">Create New Route</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().Name"></label>
            </th>
            <th>
                <label asp-for="@Model.First().StartingPosition"></label>
            </th>
            <th>
                <label asp-for="@Model.First().DestinationPosition"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Score"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Description"></label>
            </th>
            <th>
                <label asp-for="@Model.First().ShareRoute"></label>
            </th>
            <th>
                <label asp-for="@Model.First().IsPrivate"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.StartingPosition
            </td>
            <td>
                @item.DestinationPosition
            </td>
            <td>
                @item.Score
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.ShareRoute
            </td>
            <td>
                @item.IsPrivate
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /*id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
